#ignore the visual studio garbage
.vs

#ignore all the debug stuff
/DispatchGUI/bin/
/DispatchGUI/obj/Debug/

/InstallerWindows/bin/
/InstallerWindows/obj/Debug

#ignore packages for now, regret it later
#should be fine using the restore packages command
/packages/